# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore database files
*.db

# Ignore virtual environment
flask/

# Ignore environment variables
.env
instance/

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore pipenv lock file
Pipfile.lock
